<a href="https://colab.research.google.com/github/zainikhan999/Zainab_Khan_Ai_Collab_Notebooks_CS6/blob/main/Classes_and_ObjectsLabTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def function(n):
  n=n*n
  return n
num=int(input("Enter a number: "))
n=function(num)
print (f"square of number is{n}")

Enter a number: 3
square of number is9

In [ ]:
def factorial(n):
  fac=1
  for i in range(1,n+1):
    fac=fac*i
  return fac
num=int(input("Enter a number: "))
n=factorial(num)
print (f"factorial of number is{n}")

Enter a number: 2
factorial of number is2

In [ ]:
list=["apple","mango","banana"]
def function(list):
  for x in list:
    # print(x)
    # print(list)
    print(list,end="")

function(list)

['apple', 'mango', 'banana']['apple', 'mango', 'banana']['apple', 'mango', 'banana']

In [ ]:
class person:
  name="zainab"
p1=person()
print(p1.name)

zainab

In [ ]:
class person:
  def __init__(self) :
    print("i am constructor")
p1=person()
p2=person()
p3=person()
print(p1)
print(p2)
print(p3)
# CONSTRUCTOR AUTOMATICALLY CALLED

i am constructor
i am constructor
i am constructor
<__main__.person object at 0x7a866c982470>
<__main__.person object at 0x7a866c983400>
<__main__.person object at 0x7a866c983bb0>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.fname = fname
    self.lname = lname
    print(self.fname,self.lname)

class child(person):
     def __init__(self, fname, lname):
        super().__init__(fname, lname)
c1=child('zainab','khan')

zainab khan

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def printname(self):
    print(self.name, self.age)

class child(person):
     def __init__(self, fname, lname,year):
        super().__init__(fname, lname)
        self.year=year
c1=child('zainab','khan',2023)
p1 = Person("John", 36)
p1.printname()

zainab khan
John 36

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

# Classes and Objects Lab

In [ ]:
# Question 1:
numberList=[1,2,3,4,5]
def function(numberList):
  sum=0
  for x in numberList:
       sum= sum+x
  return sum

function(numberList)

15

In [ ]:
# Question 2:
def function(rollNum):
  # this attendence shows roll numbers in a list
  attendence=[3,9,5,3]
  for x in attendence:
    if x==rollNum:
      return (print("the student is present"))
    else:
      return(print("not present"))

user=int(input("enter roll number:"))
function(user)

enter roll number:67
not present

In [ ]:
# Question 3:
class Car:
  def __init__(self,name,color):
     self.name=name
     self.color=color
     print(self.name)
     print(self.color)

c1=Car("Mehran","black")
c2=Car("ferrari","yellow")
print(c2.name,c2.color)
# assigning new values
c1.name="Mustang"
c1.color="black"
print(c1.name , c1.color)

Mehran
black
ferrari
yellow
ferrari yellow
Mustang black

In [ ]:
# Question 4:
class Person:
  def __init__(self,name, age):
    self.name=name
    self.age=age



p1=Person("zainab","22")
p2=Person("Bushra","23")
print(p1.name,p2.name)

zainab Bushra

In [ ]:
# Question 5:
class Student:
  def __init__(self,name,age,list):
    self.name=name
    self.age=age
    self.grades=grades
  def averageGrade(self):
    sum=0
    count=0
    average=0
    for x in grades:
      count=count+1
      sum =sum + x
    average=sum/count
    int(average)
    return average
# this is list of grades
grades=[1,2,3,4]
s1=Student("zainab","22",grades)
s1.grades
s1.averageGrade()

2.5